Flask==3.0.3
gunicorn==21.2.0

google-cloud-storage==2.16.0
google-cloud-pubsub==2.21.5
google-cloud-bigquery==3.25.0

# Optional but recommended for BigQuery CSV export/import
pandas==2.2.2
pyarrow==16.1.0

pandas
openpyxl

